.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.intro-section{
  background-image: linear-gradient(hsl(322, 100%, 66%),hsl(265, 100%, 66%));
  height: 60%;
  width: 200%;
  position: absolute;
  top: -50%;
  left: -50%;
  z-index: -1;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
.tryfree{
  float: right;
  width: 10%;
}
.getstarted{
  background-color: hsl(322, 100%, 66%);
  color: white;
  align-content: center;
}
.mockup{
  margin: auto;
  width: 50%;
}
.users{
  margin: auto;
  width: 50%;
}
h1{
  color:hsl(322, 100%, 66%);
  font-weight: 700;
  font-size: 3.0em;
  text-align: center;
  font-family: 'Poppins', sans-serif;
} 
h3{
  color:hsl(265, 100%, 66%)
}
h4{
  font-family:'Open Sans', sans-serif;
  font-weight: 800;
}
body{
  font-family:'Open Sans', sans-serif;
  font-size: 18px;
  background-color:hsl(214, 64%, 98%);
}
p{
  font-family:'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}
.end{
  background-color: hsl(192, 100%, 9%);
  font-color: white;
}
i{
  color:white;
}
footer{
  
  
}